@charset "utf-8";
.o_web_client .o_form_editable .o_form_required.o_form_field_one2many table.o_list_content,
.o_web_client .o_form_editable .o_form_required.o_form_field_many2many table.o_list_content {
  background-color: #d2d2ff !important;
}
.o_web_client .o_form_editable .o_form_invalid.o_form_field_one2many table.o_list_content,
.o_web_client .o_form_editable .o_form_invalid.o_form_field_many2many table.o_list_content {
  background-color: #ff6666 !important;
}

.o_form_sheet {
  min-width: 650px;
  max-width: 100% !important;
  margin: 16px !important;
}
.o_form_view div.o_Chatter {
  min-width: 682px;
  padding: 16px 16px 48px;
}
.o_web_client .o_form_field_one2many, .o_web_client .o_form_field_many2many {
  overflow-x: auto;
}
.modal-dialog .o_form_sheet {
  width: initial !important;
}
.modal-dialog {
  width: 90%;
  height: 90%;
}
.o_web_client .o_left {
  width: 505px;
}

.modal-lg {
  max-width: 100%;
}

.o_FormRenderer_chatterContainer {
  max-width: initial;
}
